<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WattWise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="contact.css">
</head>

<body style="font-family: 'Inter',sans-serif;">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg position-sticky top-0 " style="z-index: 10; background-color: #F6AE2D;">
        <div class="container">
            <a class="navbar-brand" href="#" id="bold"
                style="color: white; font-weight: 600; font-size: 1.5rem;">WattWise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/home"
                            style="color: white; font-weight: 600; font-size: 1.2rem;">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/service"
                            style="color: white; font-weight: 600; font-size: 1.2rem;;">Service</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/product"
                            style="color: white; font-weight: 600; font-size: 1.2rem;;">Product</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href=""
                            style="color: white; font-weight: 600; font-size: 1.2rem; text-decoration: underline;">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <!-- Continue -->
        <div class="header mt-5 mb-5 text-center">
            <h1>About Us</h1>
        </div>

        <div class="text-center mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tempore magni obcaecati perspiciatis dolores
            quasi exercitationem. Ut eveniet veritatis odit ullam quia omnis ipsa ducimus voluptatum quas nisi, eum
            blanditiis.
            Itaque vel eos nesciunt dolore corporis dolorem vitae quaerat exercitationem earum atque. Ipsa, tempore ad
            cupiditate nam qui id odit molestiae iure quaerat illum ratione, dolor inventore culpa doloribus ab!
            Similique eligendi veritatis possimus expedita porro fuga fugiat asperiores temporibus esse laboriosam,
            voluptatibus atque molestias odit sed iusto, deserunt aut repellendus iure officia cumque! Impedit quidem
            asperiores corrupti enim quas.
            Eum minus ipsum iste eveniet voluptatibus, voluptatum facilis ipsam. Laboriosam dolores, doloribus
            perferendis dolor necessitatibus maxime id ea? Reiciendis quam debitis assumenda soluta sequi accusamus non
            molestiae dolorem earum rerum.
            Quos non vel aspernatur exercitationem ab eaque impedit nulla adipisci voluptates voluptatem, excepturi
            temporibus aperiam magnam nihil optio accusamus maxime facere iusto dolore eos harum ea earum. Quo, qui
            cupiditate!
            Rerum, voluptas error! Earum, qui nisi. Quia doloremque tenetur saepe vitae praesentium eligendi ut eum
            sapiente nemo, assumenda quibusdam non! Nam iusto libero sequi atque officiis fugiat, modi laborum magnam!
            Iure nulla repellat temporibus quisquam suscipit quae dicta. Provident, in cumque magnam et repellat,
            placeat numquam ea, expedita non omnis sequi cupiditate eligendi asperiores praesentium. Nostrum harum animi
            quaerat consequuntur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iusto veniam nam labore
            earum ipsum dignissimos natus quae ipsam dolores. Ad quae dolore eaque architecto cupiditate recusandae,
            magnam saepe nisi?
        </div>

        <hr>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="email" class="text-center d-flex align-items-center justify-content-center">

                    <h2 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                        </svg>
                        Email
                    </h2>
                    <p class="text-center">
                        wasita.salsabila@kusumo.sch.id
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="phone" class="text-center">
                    <h3 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg>
                        Phone
                    </h3>
                    <p class="text-center">
                        0 - 21 - 576 - 1777
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address" class="text-center">
                    <h2 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                        </svg>
                        Address
                    </h2>
                    <p class="text-center">
                        Apartement Centra Mutiara Kav E-1/2, Dki Jakarta, 12950
                    </p>
                </div>
            </div>
        </div>

    </div>

    <footer class="container-fluid mt-4 text-center d-flex align-items-center justify-content-center"
        style="height: 3rem; background-color: #F6AE2D;">
        <span style="color: white;">From WattWise With love ❤ | <%= server_identity %></span> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>